In [1]:
import pandas as pd
from surprise import Reader, Dataset, SVD
from surprise.model_selection import KFold
from surprise.model_selection import cross_validate

In [2]:
Rt1_df = pd.read_excel("ratings.xlsx", sheet_name=0).set_index('Phone_new').reset_index().drop('Unnamed: 0', axis=1)
Rt2_df = pd.read_excel("ratings.xlsx", sheet_name=1).set_index('Phone_new').reset_index().drop('Unnamed: 0', axis=1)
Rt3_df = pd.read_excel("ratings.xlsx", sheet_name=2).set_index('Phone_new').reset_index().drop('Unnamed: 0', axis=1)
Rt4_df = pd.read_excel("ratings.xlsx", sheet_name=3).set_index('Phone_new').reset_index().drop('Unnamed: 0', axis=1)
Rt5_df = pd.read_excel("ratings.xlsx", sheet_name=4).set_index('Phone_new').reset_index().drop('Unnamed: 0', axis=1)
Rt6_df = pd.read_excel("ratings.xlsx", sheet_name=5).set_index('Phone_new').reset_index().drop('Unnamed: 0', axis=1)
Rt7_df = pd.read_excel("ratings.xlsx", sheet_name=6).set_index('Phone_new').reset_index().drop('Unnamed: 0', axis=1)
Rt8_df = pd.read_excel("ratings.xlsx", sheet_name=7).set_index('Phone_new').reset_index().drop('Unnamed: 0', axis=1)
#Rt9_df = pd.read_excel("ratings.xlsx", sheet_name=8).set_index('Phone_new').reset_index().drop('Unnamed: 0', axis=1)

In [3]:
svd = SVD()
reader = Reader()
data = Dataset.load_from_df(Rt1_df[['Phone_new', 'TK', 'Quant']], reader)
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.2219  0.2048  0.1873  0.1990  0.1938  0.2014  0.0118
MAE (testset)     0.0838  0.0794  0.0721  0.0730  0.0787  0.0774  0.0043
Fit time          0.10    0.09    0.11    0.12    0.09    0.10    0.01
Test time         0.01    0.01    0.01    0.01    0.04    0.02    0.01

{'test_rmse': array([0.22192215, 0.20484565, 0.18727043, 0.19895395, 0.19384366]),
 'test_mae': array([0.08384338, 0.07942965, 0.07210804, 0.07300786, 0.07868875]),
 'fit_time': (0.0990607738494873,
  0.09041595458984375,
  0.11100316047668457,
  0.12170600891113281,
  0.08669900894165039),
 'test_time': (0.009163856506347656,
  0.01010584831237793,
  0.009332895278930664,
  0.011115074157714844,
  0.03834700584411621)}

In [4]:
data = Dataset.load_from_df(Rt1_df[['Phone_new', 'TK', 'Quant']], reader)
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.1932  0.2037  0.2079  0.2080  0.1955  0.2016  0.0062
MAE (testset)     0.0718  0.0774  0.0787  0.0784  0.0774  0.0767  0.0025
Fit time          0.11    0.11    0.12    0.11    0.12    0.11    0.00
Test time         0.01    0.01    0.01    0.01    0.01    0.01    0.00

{'test_rmse': array([0.19316788, 0.20366769, 0.20788134, 0.20801132, 0.19547668]),
 'test_mae': array([0.07181126, 0.07741052, 0.07873026, 0.07839596, 0.07735084]),
 'fit_time': (0.11341404914855957,
  0.11084198951721191,
  0.1184689998626709,
  0.11242818832397461,
  0.11550092697143555),
 'test_time': (0.011606931686401367,
  0.011857986450195312,
  0.011777877807617188,
  0.01174783706665039,
  0.012534141540527344)}

In [4]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [5]:
matrix=pd.pivot_table(data=Rt1_df[['Phone_new', 'TK', 'Quant']], values='Quant', index='Phone_new',columns='TK')
matrix = matrix.fillna(0)
matrix

TK,Аксессуары ТВ-Аудио,Аксессуары для бытовой техники,Аксессуары для игровых приставок,Аксессуары для комп./ноутбуков/принтеров,Аксессуары для мебели,Аксессуары для смартфонов и планшетов,Активный отдых,Антивирусные программы,Велосипеды и аксессуары,Водонагреватели,...,Тренажеры,Туризм,Тяжелая атлетика,Увлажнители,Уход за домом,Фотоаппараты,Хозтовары,Холодильное оборудование,Швейная техника,Электропитание
Phone_new,,,,,,,,,,,,,,,,,,,,,
55445748-514957495657715,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55564849-515152485455765,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55565656-485653545650765,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55574848-48575051504877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55574848-49504951485071,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56574953-49535148575085,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56574954-57495654515787,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56575054-54485555525688,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56575155-52505456565684,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57485153-48575549494890,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
def hybrid_recommendations(userId, productId):
    top_five=matrix.corrwith(matrix[productId]).sort_values(ascending=False).head(5)
    
    est_rating=[]
    for x in list(top_five.index):
        if str(top_five[x])!='nan':
            est_rating.append(svd.predict(userId, iid=x, r_ui=None).est)
           
    return pd.DataFrame({'productId':list(top_five.index)[:len(est_rating)], 'estimated_rating':est_rating}).sort_values(by='estimated_rating', ascending=False).reset_index(drop=True)

def all_hybrid_recommendations(userId, TKname):
    
    top_five=matrix.corrwith(matrix[TKname])
    
    est_rating=[]
    for x in list(top_five.index):
        est_rating.append(svd.predict(userId, iid=x, r_ui=None).est)
           
    return pd.DataFrame({'productId':list(top_five.index)[:len(est_rating)], 'estimated_rating':est_rating}).sort_values(by='estimated_rating', ascending=False).reset_index(drop=True)

def product_mapping(recommender_df, Rt_df): 
    rows_list = []
    rows_list2 = []

    for x in recommender_df['productId']:
        cut_row = Rt_df.loc[Rt_df['TK'] == x]
        cut_row = cut_row['TK'][0:1].values
        rows_list.append(cut_row[0])

    for i in recommender_df['estimated_rating']:
        rows_list2.append(i)

    cut_dict = {"product": rows_list, "estimated_rating": rows_list2}
    cut_df = pd.DataFrame(cut_dict)
    
    return cut_df

In [14]:
find_product1 = hybrid_recommendations(Rt1_df['Phone_new'][len(Rt1_df)//10], 'Стиральные машины')
find_all_product1 = all_hybrid_recommendations(Rt1_df['Phone_new'][len(Rt1_df)//10], 'Стиральные машины')

In [15]:
product_mapping(find_product1, Rt1_df)

                          product  estimated_rating
0                 Швейная техника          1.166292
1                   Уход за домом          1.056448
2                       Тренажеры          1.044907
3               Стиральные машины          1.003277
4  Аксессуары для бытовой техники          1.000000

In [16]:
product_mapping(find_all_product1, Rt1_df).head(5)

                                 product  estimated_rating
0              Силовая и садовая техника          1.329044
1                                 Туризм          1.271487
2                         Офис и Кабинет          1.247030
3                                 Камины          1.234989
4  Аксессуары для смартфонов и планшетов          1.221551

In [12]:
svd = SVD()
reader = Reader()
data = Dataset.load_from_df(Rt2_df[['Phone_new', 'TK', 'Quant']], reader)
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

trainset = data.build_full_trainset()
svd.fit(trainset)

matrix=pd.pivot_table(data=Rt2_df[['Phone_new', 'TK', 'Quant']], values='Quant', index='Phone_new',columns='TK')
matrix = matrix.fillna(0)

find_product2 = hybrid_recommendations(Rt2_df['Phone_new'][len(Rt2_df)//10], 'Холодильное оборудование')
find_all_product2 = all_hybrid_recommendations(Rt2_df['Phone_new'][len(Rt2_df)//10], 'Холодильное оборудование')

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.2213  0.2188  0.2129  0.2108  0.2172  0.2162  0.0039
MAE (testset)     0.0978  0.0970  0.0932  0.0934  0.0944  0.0952  0.0019
Fit time          0.21    0.20    0.20    0.19    0.22    0.20    0.01
Test time         0.02    0.02    0.06    0.02    0.02    0.03    0.02

In [13]:
product_mapping(find_product2, Rt2_df)

                    product  estimated_rating
0  Холодильное оборудование          1.057613
1   Портативная электроника          1.041290
2            Электропитание          1.041228
3                  Гостиная          1.017659
4           Водонагреватели          1.016663

In [14]:
product_mapping(find_all_product2, Rt2_df).head(5)

            product  estimated_rating
0      Кондиционеры          1.433287
1  Кухня и Столовая          1.251198
2         Умный дом          1.242353
3           Спальня          1.187225
4     DVD с записью          1.182236

In [15]:
svd = SVD()
reader = Reader()
data = Dataset.load_from_df(Rt3_df[['Phone_new', 'TK', 'Quant']], reader)
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

trainset = data.build_full_trainset()
svd.fit(trainset)

matrix=pd.pivot_table(data=Rt3_df[['Phone_new', 'TK', 'Quant']], values='Quant', index='Phone_new',columns='TK')
matrix = matrix.fillna(0)

find_product3 = hybrid_recommendations(Rt3_df['Phone_new'][len(Rt3_df)//10], 'Воздухонагреватели')
find_all_product3 = all_hybrid_recommendations(Rt3_df['Phone_new'][len(Rt3_df)//10], 'Воздухонагреватели')

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.2611  0.2734  0.2813  0.2643  0.2545  0.2669  0.0094
MAE (testset)     0.1291  0.1406  0.1439  0.1325  0.1347  0.1362  0.0054
Fit time          0.07    0.06    0.05    0.05    0.05    0.06    0.01
Test time         0.01    0.01    0.01    0.00    0.01    0.01    0.00

In [16]:
product_mapping(find_product3, Rt3_df)

              product  estimated_rating
0    Товары для кухни          1.175914
1              Фитнес          1.070465
2  Воздухонагреватели          1.057550
3           Тренажеры          1.030198
4            Текстиль          1.000000

In [17]:
product_mapping(find_all_product3, Rt3_df).head(5)

                    product  estimated_rating
0                  Гостиная          1.403315
1          Тяжелая атлетика          1.353696
2                 Хозтовары          1.334729
3  Холодильное оборудование          1.291622
4   Периферийные устройства          1.260165

In [20]:
svd = SVD()
reader = Reader()
data = Dataset.load_from_df(Rt4_df[['Phone_new', 'TK', 'Quant']], reader)
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

trainset = data.build_full_trainset()
svd.fit(trainset)

matrix=pd.pivot_table(data=Rt4_df[['Phone_new', 'TK', 'Quant']], values='Quant', index='Phone_new',columns='TK')
matrix = matrix.fillna(0)

find_product4 = hybrid_recommendations(Rt4_df['Phone_new'][len(Rt4_df)//10], 'Детская комната')
find_all_product4 = all_hybrid_recommendations(Rt4_df['Phone_new'][len(Rt4_df)//10], 'Детская комната')

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.2270  0.2447  0.2458  0.2445  0.2464  0.2417  0.0074
MAE (testset)     0.1067  0.1137  0.1131  0.1114  0.1166  0.1123  0.0033
Fit time          0.07    0.06    0.05    0.06    0.05    0.06    0.01
Test time         0.01    0.01    0.01    0.01    0.01    0.01    0.00

In [21]:
product_mapping(find_product4, Rt4_df)

                product  estimated_rating
0           Увлажнители          1.123658
1    Красота и здоровье          1.108379
2       Детская комната          1.062093
3     Стиральные машины          1.000000
4  Сетевое оборудование          1.000000

In [22]:
product_mapping(find_all_product4, Rt4_df).head(5)

                     product  estimated_rating
0             Офис и Кабинет          1.251185
1        Носители информации          1.181032
2                    Для мам          1.174286
3    Велосипеды и аксессуары          1.151613
4  Силовая и садовая техника          1.147531

In [23]:
svd = SVD()
reader = Reader()
data = Dataset.load_from_df(Rt5_df[['Phone_new', 'TK', 'Quant']], reader)
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

trainset = data.build_full_trainset()
svd.fit(trainset)

matrix=pd.pivot_table(data=Rt5_df[['Phone_new', 'TK', 'Quant']], values='Quant', index='Phone_new',columns='TK')
matrix = matrix.fillna(0)

find_product5 = hybrid_recommendations(Rt5_df['Phone_new'][len(Rt5_df)//10], 'Воздухонагреватели')
find_all_product5 = all_hybrid_recommendations(Rt5_df['Phone_new'][len(Rt5_df)//10], 'Воздухонагреватели')

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.0502  1.0048  1.1313  1.0583  0.9815  1.0452  0.0516
MAE (testset)     0.7001  0.6832  0.7079  0.7001  0.6744  0.6931  0.0124
Fit time          0.08    0.06    0.06    0.06    0.06    0.06    0.01
Test time         0.01    0.01    0.01    0.01    0.01    0.01    0.00

In [24]:
product_mapping(find_product5, Rt5_df)

                           product  estimated_rating
0                 Сервировка стола          1.544570
1  DVD/Blu-Ray плееры и компоненты          1.238809
2               Воздухонагреватели          1.163003
3                        Кормление          1.152546
4               Очистители воздуха          1.000000

In [25]:
product_mapping(find_all_product5, Rt5_df).head(5)

                             product  estimated_rating
0                         Сантехника          2.585172
1                   Тяжелая атлетика          2.475240
2                       Кондиционеры          2.309590
3                 Зимние виды спорта          2.298031
4  Аксессуары для спортивных товаров          2.205943

In [26]:
svd = SVD()
reader = Reader()
data = Dataset.load_from_df(Rt6_df[['Phone_new', 'TK', 'Quant']], reader)
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

trainset = data.build_full_trainset()
svd.fit(trainset)

matrix=pd.pivot_table(data=Rt6_df[['Phone_new', 'TK', 'Quant']], values='Quant', index='Phone_new',columns='TK')
matrix = matrix.fillna(0)

find_product6 = hybrid_recommendations(Rt6_df['Phone_new'][len(Rt6_df)//10], 'Игрушки')
find_all_product6 = all_hybrid_recommendations(Rt6_df['Phone_new'][len(Rt6_df)//10], 'Игрушки')

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.2885  0.2609  0.2812  0.2793  0.2828  0.2786  0.0094
MAE (testset)     0.1704  0.1548  0.1654  0.1638  0.1641  0.1637  0.0051
Fit time          0.09    0.07    0.06    0.07    0.07    0.07    0.01
Test time         0.01    0.01    0.01    0.04    0.01    0.01    0.01

In [27]:
product_mapping(find_product6, Rt6_df)

                     product  estimated_rating
0                 Сантехника          1.205391
1                       Свет          1.173612
2  Силовая и садовая техника          1.055283
3                     Ванная          1.053915
4                    Игрушки          1.000000

In [28]:
product_mapping(find_all_product6, Rt6_df).head(5)

          product  estimated_rating
0             СВЧ          1.315073
1  Средства связи          1.276500
2    Единоборства          1.247216
3        Гостиная          1.239139
4         Спальня          1.225026

In [29]:
svd = SVD()
reader = Reader()
data = Dataset.load_from_df(Rt7_df[['Phone_new', 'TK', 'Quant']], reader)
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

trainset = data.build_full_trainset()
svd.fit(trainset)

matrix=pd.pivot_table(data=Rt7_df[['Phone_new', 'TK', 'Quant']], values='Quant', index='Phone_new',columns='TK')
matrix = matrix.fillna(0)

find_product7 = hybrid_recommendations(Rt7_df['Phone_new'][len(Rt7_df)//10], 'Планшеты')
find_all_product7 = all_hybrid_recommendations(Rt7_df['Phone_new'][len(Rt7_df)//10], 'Планшеты')

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.1634  0.1514  0.1633  0.1710  0.1577  0.1613  0.0065
MAE (testset)     0.0495  0.0484  0.0534  0.0544  0.0494  0.0510  0.0024
Fit time          0.05    0.05    0.04    0.04    0.04    0.04    0.01
Test time         0.01    0.00    0.00    0.00    0.00    0.00    0.00

In [30]:
product_mapping(find_product7, Rt7_df)

          product  estimated_rating
0       Автоаудио          1.075627
1        Планшеты          1.045398
2  Телевизоры LCD          1.004453
3         Игрушки          1.000000
4  Офис и Кабинет          1.000000

In [31]:
product_mapping(find_all_product7, Rt7_df).head(5)

                                    product  estimated_rating
0                  Мобильные средства связи          1.341782
1  Аксессуары для комп./ноутбуков/принтеров          1.186704
2                   Музыкальные инструменты          1.186415
3                              Фотоаппараты          1.168250
4                                 Навигация          1.156524

In [33]:
svd = SVD()
reader = Reader()
data = Dataset.load_from_df(Rt8_df[['Phone_new', 'TK', 'Quant']], reader)
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

trainset = data.build_full_trainset()
svd.fit(trainset)

matrix=pd.pivot_table(data=Rt8_df[['Phone_new', 'TK', 'Quant']], values='Quant', index='Phone_new',columns='TK')
matrix = matrix.fillna(0)

find_product8 = hybrid_recommendations(Rt8_df['Phone_new'][len(Rt8_df)//10], 'Красота и здоровье')
find_all_product8 = all_hybrid_recommendations(Rt8_df['Phone_new'][len(Rt8_df)//10], 'Красота и здоровье')

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.1727  0.1820  0.1767  0.1770  0.1690  0.1755  0.0044
MAE (testset)     0.0586  0.0627  0.0600  0.0605  0.0619  0.0607  0.0014
Fit time          0.18    0.16    0.17    0.17    0.16    0.17    0.01
Test time         0.02    0.02    0.02    0.02    0.02    0.02    0.00

In [34]:
product_mapping(find_product8, Rt8_df)

              product  estimated_rating
0  Красота и здоровье          1.028578
1             Игрушки          1.012800
2           Кормление          1.000000
3     Автоэлектроника          1.000000
4               Плиты          1.000000

In [35]:
product_mapping(find_all_product8, Rt8_df).head(5)

              product  estimated_rating
0         Подарки МБТ          1.250530
1              Фитнес          1.097303
2      Аудиомагнитолы          1.095695
3     Детская комната          1.043543
4  Приготовление пищи          1.032084